.body {
  width: 100%;
}

.headerBox {
  display: block;
  margin: auto;
}

h1 {
  font-family: Arial, serif;
}

mat-slider {
  width: 50%;
}

mat-card {
  width: 500px;
  padding: 10px;
  margin: auto;
  display: block;
}

.questionCard {
  margin: 20px;
}

mat-slider {
  margin-right: 20px;
}
