.body {
  width: 100%;
}

.allContainer {
  width: 50%;
  padding: 3%;
}

h1 {
  text-align: center;
  margin: 3%;
}

mat-slider {
  width: 50%;
}

mat-card {
  width: 500px;
  padding: 10px;
  margin: auto;
  display: block;
}

.questionCard {
  margin: 20px;
}

mat-slider {
  margin-right: 20px;
}
