<div class="body">
  <h1>Finnkino News</h1>
  <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="searchTerm">
  </mat-form-field>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let newsItem of kinoData$ | async | newsFilter: searchTerm">
      <mat-expansion-panel-header>
        <mat-panel-title><img class="thumbnail" src="{{newsItem.ThumbnailURL}}"><div class="date">{{newsItem.PublishDate | date: 'mediumDate'}}</div></mat-panel-title>
        <mat-panel-description>{{newsItem.Title}}</mat-panel-description>
      </mat-expansion-panel-header>
      <img class="contentImg" src="{{newsItem.ImageURL}}">{{newsItem.HTMLContent}}
    </mat-expansion-panel>
  </mat-accordion>
</div>
