.calc {
  width: 30%;
  margin: auto;
  display: block;
}

.calcBtn {
  padding: 5px;
}

.calcScreen {
  background-color: dimgray;
  color: aquamarine;
  width: 90%;
  height: 40px;
  margin: auto;
  display: block;
  line-height: 40px;
  font-size: 40px;
}
