header {
  width: 100%;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}

.calc {
  width: 30%;
  margin: auto;
  display: block;
  background-color: powderblue;
  padding: 20px 15px;
  border-right: 3px solid darkslategrey;
  border-bottom: 3px solid darkslategrey;
}

.calcBtn {
  padding: 5px;
}

.operatBtn {
  padding: 5px;
  background-color: lightseagreen;
}

.calcScreen {
  background-color: dimgray;
  color: paleturquoise;
  width: 92%;
  height: 40px;
  margin: auto;
  display: block;
  font-size: 30px;
  line-height: 40px;
  text-align: right;
  font-family: Roboto, monospace;
  border-right: 3px solid darkslategrey;
  border-bottom: 3px solid darkslategrey;
}

p {
  padding: 10px;
}

.gridContainer {
  padding-top: 20px;
}

.body {
  padding: 30px;
}
