mat-card-title {
  text-align: center;
  margin: 5px;
}

mat-card {
  text-align: center;
  width: 80%;
}

mat-form-field {
  display: block;
  width: 20%;
  margin: 0 auto;
}

button {
  margin: 5px;
}

.userEmail {
  font-style: italic;
  color: plum;
}
