.body {
  display: flex;
  width: 100%;
}

.allContainer {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}


mat-card-title {
  text-align: center;
  margin: 2%;
}

mat-card {
  display: inline-flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.userEmail {
  font-style: italic;
  color: plum;
}
