.body {
  min-height: 100vh;
  display: flex;
}

.allContainer {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

mat-card-title {
  margin-bottom: 2%;
}

#fromCurrency, #toCurrency {
  width: 40%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
  padding: 3%;
}

#fromCurrency {
  background-color: mintcream;
}

#toCurrency {
  background-color: lavender;
}

#conversion {
  width: 89%;
  height: 20%;
  margin: 2%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: powderblue;
}
