<div class="body">
  <mat-card>
    <mat-card-title>Reactive form</mat-card-title>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(reactForm)" #reactForm="ngForm">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="First name" class="form-control" id="firstName" name="firstName"
                 formControlName="firstName">
          <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <mat-error *ngIf="firstName.errors.required">First name is required.
            </mat-error>
            <mat-error *ngIf="firstName.errors.minlength">First name must be at least two characters long.
            </mat-error>
            <mat-error *ngIf="firstName.errors.pattern">First name must contain letters only.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Last name" class="form-control" id="lastName" name="lastName"
                 formControlName="lastName">
          <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <mat-error *ngIf="lastName.errors.required">Last name is required.
            </mat-error>
            <mat-error *ngIf="lastName.errors.minlength">Last name must be at least two characters long.
            </mat-error>
            <mat-error *ngIf="lastName.errors.pattern">Last name must contain letters only.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Id number" class="form-control" id="idNumber" name="idNumber"
                 formControlName="idNumber">
          <mat-error *ngIf="idNumber.invalid && (idNumber.dirty || idNumber.touched)" class="alert alert-danger">
            <mat-error *ngIf="idNumber.errors.required">Id number is required.</mat-error>
            <mat-error *ngIf="idNumber.errors.pattern">Id number is not valid.</mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Email" class="form-control" id="email" name="email"
                 formControlName="email">
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <mat-error *ngIf="email.errors.required">Email is required.
            </mat-error>
            <mat-error *ngIf="email.errors.pattern">Email is not valid.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Username" class="form-control" id="username" name="username"
                 formControlName="username">
          <mat-error *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            <mat-error *ngIf="username.errors.required">Username is required.
            </mat-error>
            <mat-error *ngIf="username.errors.minlength">Username must be at least 6 characters long.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" class="form-control" id="password" name="password"
                 formControlName="password">
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <mat-error *ngIf="password.errors.required">Password is required.
            </mat-error>
            <mat-error *ngIf="password.errors.pattern">
              Password must contain at least one uppercase and lowercase letter, and a number.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm password" class="form-control" id="confirmPwd"
                 name="confirmPwd" formControlName="confirmPwd" [formGroup]="profileForm">
          <mat-error *ngIf="confirmPwd.invalid && (confirmPwd.dirty || confirmPwd.touched)" class="alert alert-danger">
            <mat-error *ngIf="confirmPwd.errors.required">Confirmation required
            </mat-error>
            <mat-error *ngIf="profileForm.controls.confirmPwd.errors?.MatchPassword">Password doesn't match</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-checkbox required color="primary" id="termsAndConditions" class="form-control" formControlName="termsAndConditions" name="termsAndConditions">
        <p>I accept the terms and conditions</p></mat-checkbox>
    </form>
    <button mat-raised-button color="accent" type="submit" class="btn btn-success" [disabled]="!profileForm.valid" (click)="onSubmit(reactForm)">Submit</button>
  </mat-card>
</div>
