mat-sidenav-container {
  display: flex;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
  margin: 0;
}

.buttonMenu {
  width: 10%;
  height: 100%;
  background-color: plum;
  overflow-x: hidden;
}

.buttonLogout {
  width: 100%;
  height: 10%;
  background-color: plum;
  overflow-x: hidden;
}

.menu {
  transform: scale(1.1);
  overflow-x: hidden;
}

mat-icon {
  transform: scale(0.7);
}
